name: aws

on:
  push:

jobs:
  s3ls:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ap-northeast-1
          role-to-assume: 'arn:aws:iam::051261410836:role/github-oidc-practice1'
      - run: aws s3 ls s3://aws-intro-sample-yamada-upload
